.profile-img{
 margin-top:15px ;
 width: 20vw;
}

.about-text{
    font-size: 20px;
}


@media only screen and (max-width: 768px) {
    .profile-img{
        width: 250px;
    }
}


@media only screen and (max-width: 425px) {
    .profile-img{
        margin: 0;
        width:90vw;
    }        
}

@media only screen and (max-width: 320px) {
    .profile-img{
        margin: 0;
        width:90vw;
    }        

    .about-text{
        font-size: 18px;
    }
}
